.button {
  padding: var(--indent-base);
  border-radius: var(--radius-button);
  border: none;
  font-family: inherit;
  font-weight: 600;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.primary {
  @extend .button;
  color: var(--c-white);
  background-color: var(--c-green);

  &:hover {
    background: radial-gradient(114.52% 114.52% at 52.53% 0%, #1DFB9E 0%, #04AD72 100%);
    box-shadow: 0 0 8px rgba(22, 234, 150, 0.25);
  }

  &:disabled {
    color: var(--c-gray-disabled-text);
    background: var(--c-gray-disabled);
    box-shadow: none;
  }
}

.secondary {
  @extend .button;
  color: var(--c-white);
  background-color: var(--c-black-lighter);

  &:hover {
    background: radial-gradient(140% 140% at 52.53% 2%, #575757 0%, #171717 100%);
    box-shadow: 0 0 8px rgba(23, 23, 23, 0.25);
  }

  &:disabled {
    color: var(--c-gray-disabled-text);
    background: var(--c-gray-disabled);
    box-shadow: none;
  }
}

.secondary-outline {
  @extend .button;
  background-color: var(--c-white);
  border: 2px solid var(--c-black-lighter);
}
