@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "styles/variables";
@import "styles/base";

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
